body{
    min-width:1280px;
    max-height: 100vh;
    

}

@media (min-width: 1024px) and (max-width: 1170px) {
    .container{
        /*max-width: 960px;*/
        /*width: 960px;*/
    }
    .header-nav a{
        font-size: 16px;
        padding: 0 5px;
    }
}
@media (min-width: 1024px) {
    .container{
        width: 100%;
    }
}

