

.btn {
    display: inline-block;
    line-height: 42px;
    border:none;
    min-width: 102px;
    width: 102px;
    padding:0 10px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    outline: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;

    font-size: 18px;
}
.btn:active{
    box-shadow:inset 0px 1px 1px rgba(0,0,0,0.6);
}
.btn.white{
    background-color: #fff;
    color:#1777C4;
}

.inp.transp{
    border:0;
    outline: none;
    background-color: transparent;
    padding-right: 20px;
    color:white;
    background-image:url("./images/edit.svg");
    background-repeat: no-repeat;
    background-position: right center;
    box-sizing: border-box;
}


.radio-group{
    display: flex;
    justify-content: left;
    color:black;
}
.radio-group input{
    display: none;
}
.radio-group input+label{
    background-color:white;
    padding:10px;
    display: block;
    width: 100%;
}
.radio-group .radio-btn{
    width: auto;
}
.inp{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline:none;
    border:none;
}
.inp.white{
    color:#1777C4;
    height: 42px;
    text-align: center;
    width: 100%;
}