a{
    color:#1777C4;
}

body{
    font-family: 'Open Sans';
    box-sizing: border-box;
}
header{
    background-color:#1777C4;
    width: 100px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    height: 72px;
    align-items: center;
    max-width:100%;
    padding: 0 50px;
    box-sizing: border-box;
    color:white;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color:white
}
.logo:hover{
    text-decoration: none;
}
.logo a{
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 1;
}
.logo span{
    letter-spacing: 0.7px;
    line-height: 1;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}
.header-nav a{
    opacity: 0.8;
    color:white;
    text-decoration: none;
    padding:0 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    transition: 0.4s;
}

.header-nav a:hover{
    transition: 0.4s;
    opacity: 1;
}
.header-nav .link-tel{
    font-size: 24px;
    font-family: 'Open Sans';
    color: #FFFFFF;
    opacity: 1;
}
.header-nav .link-tel:hover {
    text-decoration: underline;
}
.header-nav-links{
    padding-right: 50px;
}

#main{
    padding-top: 70px;
    min-height: calc(100vh - 142px);
    height: auto;
    position: relative;
    display: flex;
    justify-content: left;
    width: 100%;
    background: radial-gradient(1427.88px at 73.51% 69.43%, rgba(24, 115, 189, 0.409534) 0%, rgba(0, 0, 0, 0.176093) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, rgba(0, 0, 0, 0.181471) 100%), #1777C4;
}


h4{
    font-weight: 600;
    color: #000000;
    font-size: 36px;
}