nav{
    display: flex;
    width: 28%;
    min-width: 320px;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:25px;
}
.nav-item{
    display: block;
    width: 100%;
    padding:25px 10px 25px 50px;
    border:none;
    margin: 0;
    background-color: transparent;
    text-align: left;
    outline:none;
    border-radius: 0 4px 4px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color:white;
    transition: 0.2s;

}
.nav-item.active{
    color: #1777C4;
    background-color: #fff;
    transition: 0.2s;
    box-shadow: 0px 36px 90px rgba(0, 0, 0, 0.0707371);
}

.accept .nav-item.active{
    background-color: #1777C4;
    color: #fff;
}
.accept .nav-item{
    color: #1777C4;
    background-color: transparent;
}
.nav-item span{
    display: block;
    font-size: 18px;
}

.nav-bottom-cont{

    padding-left: 50px;
}
.nav-bottom-links a{
    color:white;
    text-decoration: none;
}



.nav-bottom-links a:not(:last-child):after{
    content: " ";
    margin-left: 15px;
    margin-right: 10px;
    border-right: 1px solid rgba(255,255,255,0.6);
}

.copy{
    display: block;
    color:white;
    opacity: 0.5;
    padding-top:15px;
}
