
section#calc {
    color:rgba(255,255,255,0.5);
}

section#accept{
    background-image: url(./images/sect3bg.png);
    height: 100%;
    overflow: hidden;
    background-position: right 170%;
    -webkit-background-size: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
    color:black;
    padding-right: 35%;
    box-sizing: border-box;
}

#accept p{
    font-size: 24px;
    margin: 45px 0;
}

.phone{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 48px;
    color:black;
    text-decoration: none;
}



section#type{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 10px;
}

section{
    font-family: "Raleway";
}

#main.accept{
    background: radial-gradient(1427.88px at 73.51% 69.43%, rgba(24, 115, 189, 0.0819067) 0%, rgba(240, 240, 240, 0.0352185) 100%), linear-gradient(180deg, rgba(255, 255, 255, 4e-05) 0%, rgba(0, 0, 0, 0.0725883) 100%), #F9F9F9;
    color:black
}

#main.accept .copy{
    color:rgba(0,0,0,0.5)
}
#main.accept .nav-bottom-links a{
    color:#1777C4;
}



.content{
    padding-left: 70px;
    width:72%;
}

.section-title_wrap{

}
.section-title_wrap h3 {
    margin: 0;
    padding-bottom: 21px;
    font-weight: 600;
    font-size: 36px;
}
.section-title_wrap p {
    font-size: 24px;
}
.section-card-title{
    font-weight: 600;
    line-height: 37px;
    font-size: 24px;
    margin: 5px 0;
}
.section-card-desc{
    font-weight: 300;
    font-size: 18px;
    opacity: 0.72;
    line-height: 23px;
    padding-right: 10px;
    box-sizing: border-box;
}

.section-card-cover{
    line-height: 72px;
    width: 72px;
    height: 72px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.section-card-cover img{
    vertical-align: middle;

}

.section-cards_wrap{
    padding-right: 35px;
    display: grid;
    grid-template-columns: 258px 258px 258px;
    justify-content: space-between;
    grid-row-gap: 59px;
}